
@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/Editor_Layout.cshtml";
}

<div class="main">

    <div class="table-main col-lg-6 col-sm-6 col-12 w-100 h-100">
        <div class="sample-button"><a href="#" class="btn btn-info button-smp">Sample Json</a></div>
        <div class="table-content">
            <table class="table table-dark table-hover">
                <tr>
                    <td>Request Type ID</td>
                    <td><input type="text" name="name" value="" /></td>
                </tr>
                <tr>
                    <td>Açıklama</td>
                    <td>@*<input type="" name="name" value="" />*@ <textarea> </textarea> </td>
                </tr>
            </table>

            <table class="table table-dark table-hover">
                <tr>
                    <td>Request Channel</td>
                    <td><input type="text" name="name" value="" /></td>
                </tr>
                <tr>
                    <td>Request Type</td>
                    <td><input type="text" name="name" value="" /></td>
                </tr>
                <tr>
                    <td>Procedure Scheme</td>
                    <td><input type="text" name="name" value="" /></td>
                </tr>
                <tr>
                    <td>Procedure Name</td>
                    <td><input type="text" name="name" value="" /></td>
                </tr>
                <tr>
                    <td style="padding: 0;">
                        <select class="_select">
                            <option value="value">Request Method</option>
                            <option value="value">text1</option>
                            <option value="value">text2</option>
                        </select>
                    </td>
                    <td>
                        <select class="_select">
                            <option value="value">API Area</option>
                            <option value="value">text1</option>
                            <option value="value">text2</option>
                        </select>
                    </td>
                </tr>
            </table>


        </div>
    </div>

    <div class="table-json col-lg-6 col-sm-6 col-12 w-100 h-100">
        asdas
    </div>

</div>