
@{
    Layout = null;
}

<nav class="navbar navbar-light bg-light w-100 pt-0 bg-dark ">
    <div class="container-fluid justify-content-center ">
        <span class="navbar-brand mb-0 h1 text-white">
            EndPoint Ekleme Düzenleme
        </span>
    </div>
</nav>
