
@{
    Layout = null;
}

<div class="DockPanel" id="{{id}}">
    <div class="header">
        <span ng-bind="title"></span>
        <i class='bx bx-pin' style="color: white;"></i>
        <i class="icon-close"></i>
    </div>
    <div class="body" ng-transclude>

    </div>
</div>