@charset "UTF-8";
/*@mixin Theme($theme, $colorBackground, $colorBackgroundLight) {*/
body {
  background-color: #1E1E1E !important;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

html {
  width: 100%;
  height: 100%;
}

.navbar {
  height: 40px;
  background-color: #2f2e2e;
  border-bottom: 1px solid #4e4e4e;
}
.navbar img {
  width: 20px;
  border-radius: 6px;
}
.navbar .nav-item, .navbar .nav-link {
  color: white !important;
}

.navbar-brand {
  padding-top: 0px;
}

.nav-item {
  font-size: 13px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.nav-item:hover {
  background: #4e4e4e;
}

.settings-icon span {
  display: flex;
  align-items: center;
}
.settings-icon span i {
  font-size: 20px;
}
.settings-icon span img {
  width: 26px;
}
.settings-icon span:hover {
  background: #808080;
}

.btn {
  padding: 0.175rem 0.5rem;
}

.DockInContainer {
  display: flex;
  flex: 1;
}
.DockInContainer .slot {
  color: white;
  display: flex;
}
.DockInContainer .slot.right .DockPanel {
  padding: 0;
  border-left: 1px solid #2f2e2e;
}
.DockInContainer .slot.right .DockPanel .body {
  display: flex;
  flex-direction: column;
}
.DockInContainer .slot.right .DockPanel .properties-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  user-select: none;
  cursor: pointer;
  transition: transform 0.5s ease;
}
.DockInContainer .slot.right .DockPanel .properties-item:hover {
  color: white;
}
.DockInContainer .slot.right .DockPanel .properties-item .properties-item-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 5px;
}
.DockInContainer .slot.right .DockPanel .properties-item .properties-item-wrapper .item-toggle-btn {
  border: 1px solid darkgray;
  width: 14px;
  height: 14px;
  display: flex;
  align-items: center;
  margin-right: 8px;
}
.DockInContainer .slot.right .DockPanel .properties-item .properties-item-wrapper .item-toggle-btn i {
  font-size: 12px;
}
.DockInContainer .slot.right .DockPanel .properties-item .properties-table {
  margin: 0 0;
}
.DockInContainer .slot.right .DockPanel .properties-item .properties-table .table {
  margin-bottom: 2px;
}
.DockInContainer .slot.right .DockPanel .properties-item .properties-table .table tr:hover input {
  background-color: #323539;
}
.DockInContainer .slot.right .DockPanel .properties-item .properties-table .table tr:hover select {
  background-color: #323539;
}
.DockInContainer .slot.right .DockPanel .properties-item .properties-table .table td {
  padding: 0;
}
.DockInContainer .slot.right .DockPanel .properties-item .properties-table .table th {
  font-size: 10px;
  font-weight: 600;
  border-right-width: 1px;
}
.DockInContainer .slot.right .DockPanel .properties-item .properties-table .table input {
  width: 100%;
  height: 30px;
  background-color: #212529;
  border: none;
  color: #d6d6d6;
}
.DockInContainer .slot.right .DockPanel .properties-item .properties-table .table select {
  width: 100%;
  height: 30px;
  background-color: #212529;
  border: none;
  color: #d6d6d6;
}
.DockInContainer .slot.left .DockPanel {
  border-right: 1px solid #2f2e2e;
}
.DockInContainer .slot.left .DockPanel .body {
  display: flex;
  flex-direction: column;
}
.DockInContainer .slot.left .DockPanel .contents-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  padding: 0px 8px;
  user-select: none;
  cursor: pointer;
  margin-bottom: 4px;
  transition: transform 0.5s ease;
}
.DockInContainer .slot.left .DockPanel .contents-item:hover {
  background-color: #494949;
  color: white;
}
.DockInContainer .slot.left .DockPanel .contents-item.active .item-content {
  display: flex;
  flex-direction: column;
  margin: 3px 0px 3px 15px;
  font-size: 10px;
}
.DockInContainer .slot.left .DockPanel .contents-item.active .item-content:hover {
  background-color: rgba(65, 64, 64, 0.8784313725);
}
.DockInContainer .slot.left .DockPanel .contents-item.active .item-content .sub-content {
  display: flex;
}
.DockInContainer .slot.left .DockPanel .contents-item.active .item-head-name-wrapper .item-toggle-btn {
  padding-left: 2px;
  transform: rotate(90deg);
}
.DockInContainer .slot.left .DockPanel .contents-item .item-content {
  display: none;
}
.DockInContainer .slot.left .DockPanel .contents-item .item-content .sub-content {
  display: flex;
}
.DockInContainer .slot.left .DockPanel .contents-item .item-content .sub-content .icon-plus:hover {
  color: gold;
}
.DockInContainer .slot.left .DockPanel .contents-item .item-content .sub-content-item {
  display: flex;
  align-items: center;
  margin: 3px 0px 3px 12px;
  font-size: 13px;
  border-radius: 10px;
}
.DockInContainer .slot.left .DockPanel .contents-item .item-content .sub-content-item:hover {
  background-color: #2b2b2b;
}
.DockInContainer .slot.left .DockPanel .contents-item .item-content .item-toggle-btn {
  margin-left: 4px;
  margin-right: 14px;
  padding-left: 3px;
  display: flex;
  align-items: center;
  height: 100%;
  width: 16px;
  background-color: unset;
}
.DockInContainer .slot.left .DockPanel .contents-item .item-content .item-head-name {
  font-size: 12px;
  line-height: 20px;
  padding-right: 4px;
  width: 161px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.DockInContainer .slot.left .DockPanel .contents-item .item-content .item-head-name .icon-folder-alt {
  margin-right: 5px;
}
.DockInContainer .slot.left .DockPanel .contents-item .item-content .item-head-fav {
  background-color: transparent;
  display: flex;
  align-items: center;
  width: 24px;
  height: 24px;
  position: relative;
}
.DockInContainer .slot.left .DockPanel .contents-item .item-content .item-head-fav .i {
  display: inline-flex;
  width: 16px;
  height: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.DockInContainer .slot.left .DockPanel .contents-item .item-content .item-head-fav .sub-item-menu {
  position: absolute;
  top: 5%;
  left: 25px;
  width: 404%;
  background-color: #0c0c0c;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 8px;
  z-index: 1000;
}
.DockInContainer .slot.left .DockPanel .contents-item .item-content .item-head-fav .sub-item-menu div {
  padding: 6px 12px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.DockInContainer .slot.left .DockPanel .contents-item .item-content .item-head-fav .sub-item-menu div:hover {
  background-color: #3d3d3d;
}
.DockInContainer .slot.left .DockPanel .contents-item .item-head-name-wrapper {
  display: flex;
  align-items: center;
  height: 24px;
}
.DockInContainer .slot.left .DockPanel .contents-item .item-head-name-wrapper .item-toggle-btn {
  margin-left: 4px;
  margin-right: 14px;
  height: 16px;
  width: 16px;
  background-color: unset;
}
.DockInContainer .slot.left .DockPanel .contents-item .item-head-name-wrapper .item-head-name {
  font-size: 12px;
  line-height: 20px;
  padding-right: 4px;
  width: 175px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.DockInContainer .slot.left .DockPanel .contents-item .item-head-name-wrapper .item-head-name .icon-folder-alt {
  margin-right: 5px;
}
.DockInContainer .slot.left .DockPanel .contents-item .item-head-name-wrapper .item-head-fav {
  background-color: transparent;
  display: flex;
  align-items: center;
  width: 24px;
  height: 24px;
}
.DockInContainer .slot.left .DockPanel .contents-item .item-head-name-wrapper .item-head-fav .i {
  display: inline-flex;
  width: 20px;
  height: 20px;
}
.DockInContainer .slot.left .DockPanel .contents-item .item-head-name-wrapper .item-head-fav .icon-plus:hover {
  color: #7160e8;
}
.DockInContainer .slot.fiil .main {
  display: flex;
  width: 50%;
}
.DockInContainer .slot.fiil .main .table-main {
  border-right: 1px solid gray;
}
.DockInContainer .slot.fiil .main .table-main .sample-button {
  display: flex;
  justify-content: end;
  height: 50px;
  margin: 8px;
}
.DockInContainer .slot.fiil .main .table-main .sample-button .button-smp {
  padding: 5px;
  width: 32%;
  height: 88%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  background-color: #7160e8;
  border: #7160e8;
}
.DockInContainer .slot.fiil .main .table-main .sample-button .button-smp:hover {
  background-color: #6c63ab;
}
.DockInContainer .slot.fiil .main .table-main .table-content {
  font-size: 16px;
}
.DockInContainer .slot.fiil .main .table-main .table-content table {
  margin-bottom: 10px;
}
.DockInContainer .slot.fiil .main .table-main .table-content table tr {
  font-size: 14px;
}
.DockInContainer .slot.fiil .main .table-main .table-content table tr td ._select {
  width: 100%;
  height: 30px;
  background-color: #212529;
  border: none;
  color: #d6d6d6;
}
.DockInContainer .slot.fiil .main .table-main .table-content table tr td:last-child {
  padding: 0;
  border-left-width: 1px;
}
.DockInContainer .slot.fiil .main .table-main .table-content table tr td:last-child input {
  width: 100%;
  height: 41px;
  background-color: #212529;
  border: none;
  color: white;
  padding-left: 6px;
}
.DockInContainer .slot.fiil .main .table-main .table-content table tr td:last-child textarea {
  width: 100%;
  height: 100%;
  background-color: #212529;
  border: none;
  color: white;
  padding-left: 6px;
}
.DockInContainer .slot.fiil .main .table-json {
  padding: 10px;
}
.DockInContainer .slot-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.DockInContainer .slot-container .fiil {
  flex: 1;
  margin: 1px;
}
.DockInContainer .DockPanel {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  background-color: #1E1E1E;
  padding: 1px;
  border-top: 2px solid #7160e8;
}
.DockInContainer .DockPanel .header {
  display: flex;
  align-items: center;
  font-size: 12px;
  background-color: #2f2e2e;
  padding: 3px;
}
.DockInContainer .DockPanel .header * {
  padding: 5px;
}
.DockInContainer .DockPanel span {
  margin-right: 5px;
  flex: 1;
}

#myModal .modal-dialog {
  max-width: 80%;
}
#myModal .modal-content {
  background-color: #242424;
  color: #fafafa;
}
#myModal .modal-content .modal-header {
  border-bottom: 0;
}
#myModal .modal-content .modal-header button {
  background-color: #242424;
  color: #fafafa;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
#myModal .modal-content .modal-header button:hover {
  background-color: #2f2d2d;
  color: red;
}
#myModal .modal-content .modal-header button span {
  font-size: 18px;
}
#myModal .modal-content .modal-body {
  display: flex;
  justify-content: space-between;
}
#myModal .modal-content .modal-body .project-type {
  width: 50%;
  height: 450px; /* İhtiyaca göre ayarlayın */
  overflow-y: auto;
  /* Scroll çubuğunu özelleştir */
  /* Scroll çubuğunun kaydırılabilir kısmını özelleştir */
}
#myModal .modal-content .modal-body .project-type::-webkit-scrollbar {
  width: 11px; /* Çubuğun genişliği */
  background-color: #242424; /* Scroll arka plan rengi */
}
#myModal .modal-content .modal-body .project-type::-webkit-scrollbar-thumb {
  background-color: #888; /* Scroll çubuğunun rengi */
  border-radius: 4px; /* Scroll çubuğunun köşelerini yuvarla */
}
#myModal .modal-content .modal-body .project-type ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}
#myModal .modal-content .modal-body .project-type ul li.selected {
  background-color: #3b3b3b;
}
#myModal .modal-content .modal-body .project-type ul li {
  list-style: none;
  padding: 5px;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-items: center;
  margin-bottom: 5px;
}
#myModal .modal-content .modal-body .project-type ul li:hover {
  background-color: #3b3b3b;
}
#myModal .modal-content .modal-body .project-type ul li .project-icon {
  padding-right: 10px;
  font-size: 28px;
}
#myModal .modal-content .modal-body .project-type ul li .project-content .content-name {
  font-size: 13px;
}
#myModal .modal-content .modal-body .project-type ul li .project-content p {
  margin-bottom: 5px;
  margin-top: 1px;
  padding-right: 4px;
  font-size: 12px;
  cursor: default;
}
#myModal .modal-content .modal-body .project-type ul li .project-content .content-platforms {
  font-size: 12px;
}
#myModal .modal-content .modal-body .project-type ul li .project-content .content-platforms span {
  background-color: #3d3d3d;
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 5px;
  display: inline-block;
  width: 12%;
  text-align: center;
}
#myModal .modal-content .modal-body .project-fav-type {
  width: 45%;
}
#myModal .modal-content .modal-body .project-fav-type ul {
  list-style: none;
  padding: 0;
}
#myModal .modal-content .modal-body .project-fav-type ul li.selected {
  background-color: #3b3b3b;
}
#myModal .modal-content .modal-body .project-fav-type ul li {
  list-style: none;
  font-size: 15px;
  display: flex;
  margin-top: 4px;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}
#myModal .modal-content .modal-body .project-fav-type ul li li.selected {
  background-color: #3b3b3b;
}
#myModal .modal-content .modal-body .project-fav-type ul li:hover {
  background-color: #636363;
}
#myModal .modal-content .modal-body .project-fav-type ul li .project-fav-content {
  display: flex;
  width: 97%;
  font-size: 14px;
  align-items: center;
  justify-content: space-between;
  padding: 8px 5px;
}
#myModal .modal-content .modal-body .project-fav-type ul li .project-fav-content .fav-icon {
  margin-right: 5px;
  display: flex;
  align-items: center;
  width: 90%;
}
#myModal .modal-content .modal-body .project-fav-type ul li .project-fav-content .fav-icon i {
  font-size: 17px;
  margin-right: 10px;
}
#myModal .modal-content .modal-body .project-fav-type ul li .project-fav-content .fav-type {
  background-color: #3d3d3d;
  border: 1px solid black;
  font-size: 12px;
  border-radius: 5px;
  margin-right: 5px;
  display: inline-block;
  width: 10%;
  text-align: center;
}
#myModal .modal-footer {
  border-top: none;
}

#configureModal .modal-dialog {
  max-width: 80%;
}
#configureModal .modal-content {
  background-color: #242424;
  color: #fafafa;
}
#configureModal .modal-content .modal-header {
  border-bottom: 0;
}
#configureModal .modal-content .modal-header button {
  background-color: #242424;
  color: #fafafa;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
#configureModal .modal-content .modal-header button:hover {
  background-color: #2f2d2d;
  color: red;
}
#configureModal .modal-content .modal-header button span {
  font-size: 18px;
}
#configureModal .modal-body {
  padding: 0;
  padding-left: 1rem;
}
#configureModal .modal-body .content-header {
  display: flex;
  width: 45%;
}
#configureModal .modal-body .content-header .header-title {
  width: 100%;
  font-size: 18px;
}
#configureModal .modal-body .content-header .header-platforms {
  width: 100%;
}
#configureModal .modal-body .content-header .header-platforms span {
  background-color: #3d3d3d;
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 5px;
  font-size: 13px;
  display: inline-block;
  width: 50px;
  text-align: center;
}
#configureModal .modal-body .content-input {
  margin-top: 17px;
  font-size: 14px;
}
#configureModal .modal-body .content-input table tr {
  display: flex;
  flex-direction: column;
}
#configureModal .modal-body .content-input table tr .input-name {
  font-size: 12px;
  padding-bottom: 5px;
}
#configureModal .modal-body .content-input table tr input[type=text] {
  width: 600px;
  height: 22px;
  background-color: #383838;
  border: none;
  color: white;
  padding-left: 10px;
}
#configureModal .modal-footer {
  border-top: none;
}

/*}*/
/*}
*/
/*@include Theme('dark', $colorBackground:#1E1E1E, $colorBackgroundLight:#2f2e2e);
*/
