/*@mixin Theme($theme, $colorBackground, $colorBackgroundLight) {*/
//.#{$theme} {
$colorBackground: #1E1E1E;
$colorBackgroundLight: #2f2e2e;

body {
    background-color: $colorBackground !important;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column
}

html {
    width: 100%;
    height: 100%;
}

.navbar {
    height: 40px;
    background-color: $colorBackgroundLight;
    border-bottom: 1px solid #4e4e4e;

    img {
        width: 20px;
        border-radius: 6px;
    }

    .nav-item, .nav-link {
        color: white !important;
    }
}

.navbar-brand {
    padding-top: 0px;
}

.nav-item {
    font-size: 13px;
    font-weight: 500;
    display: flex;
    align-items: center;

    &:hover {
        background: #4e4e4e;
    }
}

.settings-icon {
    span {
        display: flex;
        align-items: center;

        i {
            font-size: 20px;
        }

        img {
            width: 26px;
        }

        &:hover {
            background: #808080;
        }
    }
}

.btn {
    padding: .175rem .5rem;
}

.DockInContainer {
    display: flex;
    flex: 1;

    .slot {
        color: white;
        display: flex;

        &.right {
            .DockPanel {
                padding: 0;
                border-left: 1px solid $colorBackgroundLight;

                .body {
                    display: flex;
                    flex-direction: column;
                }

                .properties-item {
                    width: 100%;
                    display: flex;
                    flex-direction: column; // Dikey düzenleme için "column" kullanın
                    font-size: 12px;
                    user-select: none;
                    cursor: pointer;
                    transition: transform 0.5s ease;

                    &:hover {
                        color: white;
                    }

                    .properties-item-wrapper {
                        display: flex;
                        align-items: center;
                        flex-direction: row;
                        padding: 5px;

                        .item-toggle-btn {
                            border: 1px solid darkgray;
                            width: 14px;
                            height: 14px;
                            display: flex;
                            align-items: center;
                            margin-right: 8px;

                            i {
                                font-size: 12px;
                            }
                        }
                    }

                    .properties-table {
                        margin: 0 0;

                        .table {
                            margin-bottom: 2px;

                            tr:hover {
                                input {
                                    background-color: #323539;
                                }

                                select {
                                    background-color: #323539;
                                }
                            }

                            td {
                                padding: 0;
                            }

                            th {
                                font-size: 10px;
                                font-weight: 600;
                                border-right-width: 1px;
                            }

                            input {
                                width: 100%;
                                height: 30px;
                                background-color: #212529;
                                border: none;
                                color: #d6d6d6;
                            }

                            select {
                                width: 100%;
                                height: 30px;
                                background-color: #212529;
                                border: none;
                                color: #d6d6d6;
                            }
                        }
                    }
                }
            }
        }

        &.left {
            .DockPanel {
                border-right: 1px solid $colorBackgroundLight;

                .body {
                    display: flex;
                    flex-direction: column;
                }


                .contents-item {
                    width: 100%;
                    display: flex;
                    flex-direction: column; // Dikey düzenleme için "column" kullanın
                    font-size: 12px;
                    padding: 0px 8px;
                    user-select: none;
                    cursor: pointer;
                    margin-bottom: 4px; // Dikey düzenleme arasında boşluk bırakmak için
                    transition: transform 0.5s ease;

                    &:hover {
                        background-color: #494949;
                        color: white;
                    }

                    &.active {

                        .item-content {
                            display: flex;
                            flex-direction: column;
                            margin: 3px 0px 3px 15px;
                            font-size: 10px;

                            &:hover {
                                background-color: #414040e0;
                            }

                            .sub-content {
                                display: flex;
                            }
                        }

                        .item-head-name-wrapper .item-toggle-btn {
                            padding-left: 2px;
                            transform: rotate(90deg);
                        }
                    }
                    // Açılır menü içeriği stilleri
                    .item-content {
                        display: none;

                        .sub-content {
                            display: flex;

                            .icon-plus {
                                &:hover {
                                    color: gold;
                                }
                            }
                        }

                        .sub-content-item {
                            display: flex;
                            align-items: center;
                            margin: 3px 0px 3px 12px;
                            font-size: 13px;
                            border-radius: 10px;

                            &:hover {
                                background-color: #2b2b2b;
                            }
                        }

                        .item-toggle-btn {
                            margin-left: 4px;
                            margin-right: 14px;
                            padding-left: 3px;
                            display: flex;
                            align-items: center;
                            height: 100%;
                            width: 16px;
                            background-color: unset;
                        }

                        .item-head-name {
                            font-size: 12px;
                            line-height: 20px;
                            padding-right: 4px;
                            width: 161px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;

                            .icon-folder-alt {
                                margin-right: 5px;
                            }
                        }

                        .item-head-fav {
                            background-color: transparent;
                            display: flex;
                            align-items: center;
                            width: 24px;
                            height: 24px;
                            position: relative; // Alt menüyü konumlandırmak için

                            .i {
                                display: inline-flex;
                                width: 16px;
                                height: 16px;
                                cursor: pointer;
                                display: flex;
                                align-items: center;
                            }

                            .sub-item-menu {
                                position: absolute;
                                top: 5%; // Dropdown menüyü ana öğenin altına konumlandırır
                                left: 25px;
                                width: 404%;
                                background-color: #0c0c0c;
                                border: 1px solid #ccc;
                                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                                padding: 8px;
                                z-index: 1000; // Diğer içeriklerin üzerinde görüntülemeyi sağlar

                                div {
                                    padding: 6px 12px;
                                    cursor: pointer;
                                    transition: background-color 0.3s ease-in-out;

                                    &:hover {
                                        background-color: #3d3d3d;
                                    }
                                }
                            }
                        }
                    }


                    .item-head-name-wrapper {
                        display: flex;
                        align-items: center;
                        height: 24px;

                        .item-toggle-btn {
                            margin-left: 4px;
                            margin-right: 14px;
                            height: 16px;
                            width: 16px;
                            background-color: unset;
                        }

                        .item-head-name {
                            font-size: 12px;
                            line-height: 20px;
                            padding-right: 4px;
                            width: 175px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;

                            .icon-folder-alt {
                                margin-right: 5px;
                            }
                        }

                        .item-head-fav {
                            background-color: transparent;
                            display: flex;
                            align-items: center;
                            width: 24px;
                            height: 24px;

                            .i {
                                display: inline-flex;
                                width: 20px;
                                height: 20px;
                            }

                            .icon-plus:hover {
                                color: #7160e8;
                            }
                        }
                    }
                }
            }
        }

        &.fiil {
            display: flex;
            flex-direction: column;

            .file-settings {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 15px;

                .folder-src {
                    margin-left: 7px;
                    font-size: 12px;
                    padding: 7px;
                }

                .saveBtn-deleteBtn {
                    display: flex;
                    align-items: center;
                    font-size: 18px;
                    padding-right: 8px;

                    span {
                        margin-right: 2px;
                        padding: 9px;
                        margin-top: 5px;
                        font-size: 14px;
                        font-weight: 500;
                    }

                    .save {
                        color: #7160e8;
                        background-color: #353535;
                        border-radius: 5px;

                        &:hover {
                            color: #9e90ff;
                            background-color: #515151;
                        }
                    }

                    .delete {
                        color: #b30000;
                        background-color: #353535;
                        border-radius: 5px;

                        &:hover {
                            color: red;
                            background-color: #515151;
                        }
                    }
                }
            }

            .main {
                display: flex;
                width: 100%;
                height: 100%;

                .table-main {
                    border-right: 1px solid gray;

                    .sample-button {
                        display: flex;
                        justify-content: end;
                        height: 50px;
                        margin: 8px;

                        .button-smp {
                            padding: 5px;
                            width: 32%;
                            height: 88%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 14px;
                            font-weight: 600;
                            color: #fff;
                            background-color: #7160e8;
                            border: #7160e8;

                            &:hover {
                                background-color: #6c63ab;
                            }
                        }
                    }

                    .content-group {
                        display: flex;
                        flex-direction: column;
                        min-height: 0;
                        min-width: 0;

                        .header-content {
                            position: relative;
                            box-sizing: border-box;
                            padding: 8px;
                            display: flex;

                            .main-url-box {
                                display: flex;
                                width: 100%;

                                .url-select {
                                    select {
                                        height: 40px;
                                        padding: 8px;
                                        border-radius: 4px 0 0 4px;
                                        border: none;
                                        background-color: #212529;
                                        color: #d6d6d6;
                                        outline: 0;

                                        .styled-option {
                                            width: 150px;
                                            height: 30px;
                                            background-color: lightgray;
                                            color: black;
                                            font-size: 16px;
                                        }
                                    }
                                }

                                .line-main {
                                    background-color: #212529;

                                    .line {
                                        min-height: 24px;
                                        border: 1px solid;
                                        border-color: #4f4f4f;
                                        margin: 8px 0;
                                    }
                                }

                                .url-input {
                                    width: 100%;

                                    input {
                                        height: 40px;
                                        border-radius: 0 4px 4px 0;
                                        border: none;
                                        width: 100%;
                                        background-color: #212529;
                                        color: #d6d6d6;
                                        padding-left: 10px;
                                        font-size: 14px;
                                        outline: 0;
                                    }
                                }
                            }
                        }
                    }

                    .main-tab {
                        padding: 50px 0px 8px 0px;

                        ul {
                            padding-bottom: 0px;
                            border-color: #939393;

                            li {
                                &:hover {
                                    background-color: #393939;
                                }

                                .nav-link.active {
                                    color: black;
                                    font-weight: 500;
                                    background-color: #a1a1a1;
                                    border: none;
                                }

                                button {
                                    color: #bdbdbd;
                                }
                            }
                        }

                        .tab-content {
                            font-size: 16px;

                            .tab-pane {
                                height: 630px;
                                /*width: 100%;*/
                                overflow-x: auto;
                                overflow-y: auto;
                                /* Scroll çubuğunu özelleştir */
                                &::-webkit-scrollbar {
                                    height: 11px;
                                    width: 8px;
                                    background-color: #242424; /* Scroll arka plan rengi */
                                }
                                /* Scroll çubuğunun kaydırılabilir kısmını özelleştir */
                                &::-webkit-scrollbar-thumb {
                                    background-color: #888; /* Scroll çubuğunun rengi */
                                    border-radius: 4px; /* Scroll çubuğunun köşelerini yuvarla */
                                }

                                table {
                                    margin-bottom: 0;

                                    thead {
                                        tr {
                                            th {
                                                text-align: center;
                                                font-size: 14px;
                                                color: #d6d6d6;
                                            }

                                            .add-row {
                                                background-color: #4b4b4b;

                                                i {
                                                    font-size: 15px;
                                                    font-weight: 600;
                                                }

                                                &:hover {
                                                    background-color: #5f5d5d;
                                                }
                                            }
                                        }
                                    }

                                    tbody {
                                        overflow-y: auto;

                                        tr {
                                            td {
                                                text-align: center;
                                                font-size: 13px;

                                                input[type="text"] {
                                                    height: 30px;
                                                    background-color: #212529;
                                                    color: #d6d6d6;
                                                    border: 1px solid #bdbdbd;
                                                    border-radius: 6px;
                                                }

                                                .form-check {
                                                    display: flex;
                                                    justify-content: center;
                                                    font-size: 17px;
                                                    align-items: center;
                                                }
                                            }

                                            .first-input input {
                                                width: 85px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .table-json {
                    padding: 10px;
                }
            }
        }
    }

    .slot-container {
        display: flex;
        flex-direction: column;
        flex: 1;


        .fiil {
            flex: 1;
            margin: 1px;
        }
    }

    .DockPanel {
        display: flex;
        flex-direction: column;
        min-width: 200px;
        background-color: $colorBackground;
        padding: 1px;
        border-top: 2px solid #7160e8;

        .header {
            display: flex;
            align-items: center;
            font-size: 12px;
            background-color: $colorBackgroundLight;
            padding: 3px;

            * {
                padding: 5px;
            }
        }

        span {
            margin-right: 5px;
            flex: 1;
        }
    }
}


// MODAL CSS
#myModal {

    .modal-dialog {
        max-width: 80%;
    }

    .modal-content {
        background-color: #242424;
        color: #fafafa;

        .modal-header {
            border-bottom: 0;

            button {
                background-color: #242424;
                color: #fafafa;
                border: none;
                border-radius: 5px;
                display: flex;
                align-items: center;

                &:hover {
                    background-color: #2f2d2d;
                    color: red;
                }

                span {
                    font-size: 18px;
                }
            }
        }

        .modal-body {
            display: flex;
            justify-content: space-between;

            .project-type {
                width: 50%;
                height: 450px; /* İhtiyaca göre ayarlayın */
                overflow-y: auto;
                /* Scroll çubuğunu özelleştir */
                &::-webkit-scrollbar {
                    width: 11px; /* Çubuğun genişliği */
                    background-color: #242424; /* Scroll arka plan rengi */
                }
                /* Scroll çubuğunun kaydırılabilir kısmını özelleştir */
                &::-webkit-scrollbar-thumb {
                    background-color: #888; /* Scroll çubuğunun rengi */
                    border-radius: 4px; /* Scroll çubuğunun köşelerini yuvarla */
                }

                ul {
                    list-style: none;
                    padding: 0;
                    margin-top: 10px;

                    li.selected {
                        background-color: #3b3b3b;
                    }

                    li {
                        list-style: none;
                        padding: 5px;
                        font-size: 15px;
                        display: flex;
                        flex-direction: row;
                        justify-items: center;
                        margin-bottom: 5px;

                        &:hover {
                            background-color: #3b3b3b;
                        }

                        .project-icon {
                            padding-right: 10px;
                            font-size: 28px;
                        }

                        .project-content {

                            .content-name {
                                font-size: 13px;
                            }

                            p {
                                margin-bottom: 5px;
                                margin-top: 1px;
                                padding-right: 4px;
                                font-size: 12px;
                                cursor: default;
                            }

                            .content-platforms {
                                font-size: 12px;

                                span {
                                    background-color: #3d3d3d;
                                    border: 1px solid black;
                                    border-radius: 5px;
                                    margin-right: 5px;
                                    display: inline-block;
                                    width: 12%;
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }

            .project-fav-type {
                width: 45%;

                ul {
                    list-style: none;
                    padding: 0;

                    li.selected {
                        background-color: #3b3b3b;
                    }

                    li {
                        list-style: none;
                        font-size: 15px;
                        display: flex;
                        margin-top: 4px;
                        flex-direction: row;
                        justify-items: center;
                        align-items: center;

                        li.selected {
                            background-color: #3b3b3b;
                        }

                        &:hover {
                            background-color: #636363;
                        }

                        .project-fav-content {
                            display: flex;
                            width: 97%;
                            font-size: 14px;
                            align-items: center;
                            justify-content: space-between;
                            padding: 8px 5px;

                            .fav-icon {
                                margin-right: 5px;
                                display: flex;
                                align-items: center;
                                width: 90%;

                                i {
                                    font-size: 17px;
                                    margin-right: 10px;
                                }
                            }

                            .fav-type {
                                background-color: #3d3d3d;
                                border: 1px solid black;
                                font-size: 12px;
                                border-radius: 5px;
                                margin-right: 5px;
                                display: inline-block;
                                width: 10%;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }

    .modal-footer {
        border-top: none;
    }
}

#configureModal {
    .modal-dialog {
        max-width: 80%;
    }

    .modal-content {
        background-color: #242424;
        color: #fafafa;

        .modal-header {
            border-bottom: 0;

            button {
                background-color: #242424;
                color: #fafafa;
                border: none;
                border-radius: 5px;
                display: flex;
                align-items: center;

                &:hover {
                    background-color: #2f2d2d;
                    color: red;
                }

                span {
                    font-size: 18px;
                }
            }
        }
    }

    .modal-body {
        padding: 0;
        padding-left: 1rem;

        .content-header {
            display: flex;
            width: 45%;

            .header-title {
                width: 100%;
                font-size: 18px;
            }

            .header-platforms {
                width: 100%;

                span {
                    background-color: #3d3d3d;
                    border: 1px solid black;
                    border-radius: 5px;
                    margin-right: 5px;
                    font-size: 13px;
                    display: inline-block;
                    width: 50px;
                    text-align: center;
                }
            }
        }

        .content-input {
            margin-top: 17px;
            font-size: 14px;

            table {
                tr {
                    display: flex;
                    flex-direction: column;

                    .input-name {
                        font-size: 12px;
                        padding-bottom: 5px;
                    }

                    input[type="text"] {
                        width: 600px;
                        height: 22px;
                        background-color: #383838;
                        border: none;
                        color: white;
                        padding-left: 10px;
                    }
                }
            }
        }
    }


    .modal-footer {
        border-top: none;
    }
}
// Modal end







    /*}*/
    /*}
*/
    /*@include Theme('dark', $colorBackground:#1E1E1E, $colorBackgroundLight:#2f2e2e);
*/
